.goods-count {
  font-size: 16px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  .minus,
  .plus {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    position: relative;
  }
  .minus {
    margin-right: 2.5px;
    background-image: url(../../../public/image/minus.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .plus {
    margin-left: 2.5px;
    background-image: url(../../../public/image/plus.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}
